.trip-form {
    display: flex;
    flex-direction: column;
}

.trip-form input {
    width: 30vw;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    outline: none;
}

.trips-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    width: 70vw;
    justify-content: center;
}

.trip-data-container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 5px;
    padding: 15px;
}

.background-1 {
    background-color: #D0CFEC;
}

.background-2 {
    background-color: #FBAF00;
}

.background-3 {
    background-color: #EDC7CF;
}

.background-4 {
    background-color: #91F5AD;
}

.background-5 {
    background-color: #DBFE87;
}