.top-text {
    padding: 10px;
}

.tab {
    margin-top: 20px;
}

.tab-button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
}

.tab-button:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.tab-button:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.tab-button:hover {
    background-color: #ddd;
}

.tab-button.active {
    background-color: #ccc;
}

.tab-content {
    display: none;
    width: 90vw;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h2 {
    margin-top: 20px !important;
}

.container input {
    width: 30vw;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 5px;
    outline: none;
}

.container button {
    padding: 15px;
}

#map {
    width: 70vw;
    height: 70vh;
    margin: 0 auto;
}

.languages-button {
    background: #0a0a23;
    padding: 14px;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
    color: #fff;
}

.translated-text {
    text-align: center;
    width: fit-content;
    margin: 20px auto;
}

.translated-text p {
    font-size: 2em;
    padding: 10px 20px;
    margin-top: 5px;
}

.round-button {
    width: 40px;
    height: 40px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin: 2px;
}

.news, .videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin-top: 15px;
}

.article {
    border: 1px solid gray;
    border-radius: 5px;
    width: 25vw;
    padding: 10px;
}

.article h3::before {
    content: "📰 "
}

.videos {
    flex-direction: row;
}

.videos iframe {
    border: none;
    border-radius: 5px;
}

@media screen and (max-width: 665px) {
    .article {
        width: 100%;
    }
    .container div {
        display: flex;
        flex-direction: column;
        gap: 3px;
    }
    .container input, .container button {
        width: 60vw;
    }
    .languages-button {
        text-align: center;
    }
}

@media screen and (max-width: 350px) {
    .tab-button {
        width: 80%;
    }
    .tab-button:first-child {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0;
    }
    .tab-button:last-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
    }
}